<!-- church/main/templates/main/home.html -->

<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- 스타일 연결-->
    <link rel="stylesheet" href="/css/style.css" />
    <!-- 아이콘 사용 가능 라이브러리-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <!-- 파비콘 설정 -->
    <link
      rel="apple-touch-icon"
      type="image/png"
      sizes="76x76"
      href="/images/apple-icon-76x76.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="/images/favicon-96x96.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="48x48"
      href="/images/android-icon-48x48.png"
    />
    <link rel="shortcut icon" href="/images/favicon.ico" />
    <title>한사랑교회 홈페이지</title>
  </head>
  <body>
    <!--상단바-->
    <header class="navbar">
      <button
        class="hamburger-button"
        aria-expanded="false"
        aria-controls="main-navigation"
      >
        <span class="sr-only">메뉴 열기/닫기</span>
        <i class="fa-solid fa-bars"></i>
      </button>

      <a href="/" class="navbar-logo-link">
        <img src="/images/main.jpg" alt="로고" class="navbar-logo" />
      </a>

      <nav class="nav-links-container">
        <ul class="nav-links">
          <li><a href="#">교회소개</a></li>
          <li><a href="#">교회소식</a></li>
          <li><a href="#">부서별</a></li>
          <li><a href="#">예배</a></li>
          <li><a href="#">자료실</a></li>
        </ul>
      </nav>
    </header>

    <section class="main-slider">
      <img src="/images/slider.jpg" alt="메인 슬라이드" />
    </section>

    <footer class="main-footer">
      <div class="footer-links">
        <a href="#">제안 및 문의</a> | <a href="#">이용약관</a>
      </div>
      <p class="footer-info">
        13978 경기도 안양시 박달로 413 (한일아파트상가 2,3층)
      </p>
      <p class="footer-info2">TEL : 031-444-9730 | 010-8134-4849</p>
      <p class="footer-copy">
        COPYRIGHT©2025 한사랑교회 All Rights Reserved. Designed by 손지성 청년
      </p>
    </footer>
    <script src="/js/home.js"></script>
  </body>
</html>
